

 <%= render 'shared/banner' %>

<div class="container">
  <h1> <%= @cocktails.length %> cocktails  <i class="fas fa-glass-martini"></i> </h1>


  <div class="row">
      <% @cocktails.each do |cocktail| %>
    <div class="col-xs-6 col-sm-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');">
        <div class="card-description">
          <h2> <%= cocktail.name %> </h2>
        </div>
        <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
      </div>

    </div>
      <% end %>
  </div>
</div>



