<div class="banner"
style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
url(<%= cl_image_path("lily-banse-608822-unsplash",width: 1000, height: 300, crop: :fill)%>";>
  <div class="banner-content">
    <h1>Les cocktails de Sophie</h1>
    <p>Learn to cocktail</p>
  </div>
</div>


