<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-glass-martini"></i></a>
    <a href="#"><i class="fas fa-star"></i></a>
    <a href="#"><i class="fas fa-smile"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> by Sophie LIU
  </div>
</div>
